{% extends "main/base.html" %}

{% block title %} User Details {% endblock %}

{% block css %}
    <style>
        form{
            
            margin-top: 10%;
            margin-bottom: 5%;
            width: 50%;
            margin-left:25%;
            margin-right:25%;        }
    </style>
{% endblock %}


{% block content%}
    <form method="post" action="/details/">
        {% csrf_token %}
        <label for="province" class="form-label">Province</label>
        <select name="province" class="form-select" aria-label="Default select example" id="province">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
        <br>
        <label for="district" class="form-label">District</label>
        <select name="district" class="form-select" aria-label="Default select example" id="district">
            <option value="kathmandu">Kathmandu</option>
            <option value="bhaktapur">Bhaktapur</option>
            <option value="lalitpur">Lalitpur</option>
            <option value="kavre">Kavre</option>
            <option value="nuwakot">Nuwakot</option>
            <option value="dhadhing">Dhadhing</option>
            <option value="sindhupalchowk">Sindhupakchowk</option>
        </select>
        <br>
        <label for="town" class="form-label">Town</label>
        <select name="town" class="form-select" aria-label="Default select example" id="town">
            <option value="new road">New Road</option>
            <option value="thimi">Thimi</option>
            <option value="lagankhel">Lagankhhel</option>
            <option value="banepa">Banepa</option>
            <option value="bidur">Bidur</option>
            <option value="dhadhing besi">Dhadhing Besi</option>
            <option value="chautara">Chautara</option>
        </select>
        <br>
        <label for="exampleFormControlTextarea1" class="form-label">Detail</label>
        <textarea name="area" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Give description of your location"></textarea>
        <br>
        <input type="submit" value="Done" class="btn btn-danger">


    </form>
   
{% endblock %}