{% extends "main/base.html" %}
{% load static %}

{% block title %} Item Page {% endblock %}

{% block css %}
    <style>
        *{
                font-family: 'Roboto', sans-serif;
        }
       
        .container {
                max-width: 1200px;
                margin: 0 auto;
                margin-top: 3%;
                padding: 15px;
                display: flex;
        }

        /* Columns */
.left-column {
  width: 65%;
  overflow: hidden;
  position: relative;
  height:90vh;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}

/* Left Column */
.left-column img {
  width: 90%;
  position: absolute;
  margin-top:9%;
  top: 0;
  opacity: 100%;
  transition: all 0.3s ease;
  border-radius: 20px;
}
 
.left-column img.active {
  opacity: 1;
}

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column,
  .right-column {
    width: 100%;
  }
 
  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}
 
@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}
    </style>
{% endblock %}

{% block js %}
  <script type = "text/javascript">
    function getConfirmation(location) {
    var retVal = confirm("Login Before Proceeding");
    if( retVal == true ) {
      var position=location;
      window.location.href = "/rollback"+position;
      
        }
    else{

    } 
  }
  
    
  </script>
{% endblock %}


{% block content%}
        <main class="container">
 
                <!-- Left Column / Image -->
                <div class="left-column">
                  <img src="{{item.image.url}}"  alt="french fries" >
                </div>
               
               
                <!-- Right Column -->
                <div class="right-column">
               
                  <!-- Product Description -->
                  <div class="product-description">
                    <span>{{item.category}}</span>
                    <h1>{{item.name}}</h1>
                    <p>{{item.description}}</p>
                  </div>
               
                  <!-- Product Configuration -->
                  <div class="product-configuration">
               
                  <!-- Product Pricing -->
                  <div class="product-price">
                    <span>Rs {{item.price}}</span>
                  </div>
                  <br>
                  
                  
                  {% if user.is_authenticated %}
                  <div class="product-description">
                    <p>In Cart: {{in_cart}}</p>
                  </div>
                  <br>
                  
                    <a href="/addtocart{{item.id}}" class="cart-btn">Add to cart</a> 
                    <a href="/purchase{{item.id}}" class="cart-btn">Purchase</a>
                  {% else %}
                    <a href="#" onclick="getConfirmation('{{item.id}}'); return false;" class="cart-btn">Add to cart</a> 
                    <a href="#" onclick="getConfirmation('{{item.id}}'); return false;" class="cart-btn">Purchase</a>
                  {% endif %} 
                </div>
              </main>
{%endblock %}