#featured{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;    
    flex-direction: column;     
    align-items: center;
    justify-content: center; 
}

#featured_title{
    font-size: 2.5rem;
    width: 92%;
    align-items: center;
    display: flex;
    margin-top: 100px;
    margin-left:3%;
    color: darkslategray;
    font-style: italic;
    border-bottom: 1px solid darkslategray;
}



#menu_stuff{
   
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;

}


.menu_item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    width: 28%;
    min-width: 350px;
    overflow: hidden;
    max-height: 350px;
    min-height: 307px;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    border-radius: 10px;
    margin: 20px;
    transition: 0.2s;
}

.menu_item:hover{
    max-width: 30%;
}

.menu_img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 36vh;
    max-height: 36vh;
    overflow: hidden;
    margin-top: -3%;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
    
}

.img{
    border-radius: 20px;
    background-color: rgb(187, 174, 174);

}

.menu_itm_desc{
    font-size: 20px;
    font-weight: 600;;
    display: flex;
    flex-direction: column;
    height: 9vh;
    width: 95%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 38px;
    margin-bottom: -150px;
    overflow: hidden;
   
}

.menu_itm_desc .menu_desc{
    position: relative;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
}

.cart_button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 63%;
    left: 84%;
    border: none;
    border-radius: 50px;
    height: 7vh;
    background-color: rgba(255, 68, 0, 0.973);
    color: wheat;
    font-size: 20px;
    transition: 0.2s;
    padding: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_button:hover{
    background-color: rgb(184, 75, 11);
    font-size: 22px;
}

.cart_button a{
    text-decoration: none;
    color: white;
  
}

#menu_link{
    max-height: 20%;
    min-height: 67%;
    display: block;
    width: 100%;
}